
.country-list{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin: 15px;
}
.country-info {
  background-color: rgb(152, 255, 221);
  border: 2px solid rgb(88, 42, 5);
  border-radius: 10px;
  padding: 10px;
}